/* ? ----- Desktop/Tablet Styles Section */

.logo-container img {
  /* display: none; */
  @media screen and (min-width: 900px) {
    width: 70px;
    height: 70px;
    /* background-image: url("../src/utils/images/whatsForLunchGreen.png"); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    object-fit: contain;
    overflow: hidden;
  }
}
.logo-container {
  /* border: 2px solid blue; */
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  transition-duration: 0.5s;
  color: #3f3d56;
}

.logo-container a:visited {
  color: red;
}

.logo-container:hover {
  font-size: 3rem;
  color: #2a9d8f;
}

.desktop-menu-container {
  position: absolute;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  background-color: #3f3d56;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.desktop-menu-container.open {
  right: 0;
}

.desktop-menu {
  list-style: none;
  padding: 7rem 0 2rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}

.desktop-links {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
}

/*todo ----- NAVBAR STYLES SECTION -----  */
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

h2 {
  vertical-align: center;
  text-align: center;
}

/* html,
body {
  margin: 0;
  height: 100%;
} */

* {
  font-family: "Poppins";
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #e76f51, #f4a261);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 60px;
  padding: 1em;
  position: fixed;
  width: 100vw;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 105;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.desktop-icons {
  width: 30px;
  height: 30px;
  border: none;
  filter: invert(100%);
  transition-duration: 0.5s;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.desktop-icons:hover {
  width: 40px;
  height: 40px;
}
.desktop-icons:active {
  filter: invert(50%);
  width: 30px;
  height: 30px;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fff;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.search-bar,
.action-bar,
.search-button {
  color: #fff;
  background-color: #3f3d56;
  border: 2px solid #fff;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 1.5rem;
  box-shadow: 1px 1px 2px #333;
  transition: 0.5s;
}

.action-bar {
  width: 300px;
}

.search-bar {
  width: 300px;
  color: #3f3d56;
  border: 2px solid #3f3d56;
  background-color: #fff;
}

.action-bar {
  display: flex;
  justify-content: center;
}

.action-bar:hover,
.search-button:hover {
  font-size: 1.7rem;
  box-shadow: 2px 2px 3px #333;
  cursor: pointer;
}

#search {
  text-decoration: none;
  display: flex;
  gap: 10px;
  color: #fff;
}

.search-bar-icon {
  background-image: url("../../public/images/search.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(100%);
  width: 20px;
  height: 20px;
}

/*todo: ----- RECIPE CARD STYLES SECTION -----  */
.recipe-card-container {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.recipe-card.flipped {
  transform: rotateY(180deg);
}

.recipe-card-front,
.recipe-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #3f3d56;
  box-shadow: 1px 1px 2px #3f3d56;
  border-radius: 10px;
}

.recipe-card-front {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipe-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
  display: flex;
  align-items: flex-start;
  padding: 10px;
  overflow-y: auto;
}

.recipe-card h2 {
  margin-bottom: 10px;
}

.recipe-card ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.recipe-card li {
  margin-bottom: 5px;
}

.recipe-card li:last-child {
  margin-bottom: 0;
}
