/* ? ----- Desktop/Tablet Styles Section */

.logo-container img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  overflow: hidden;
  @media screen and (min-width: 900px) {
    /* width: 70px;
    height: 70px; */
  }
}
.logo-container {
  /* border: 2px solid blue; */
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  transition-duration: 0.4s;
  color: #3f3d56;
}

.logo-container a:visited {
  color: red;
}

.logo-container:hover {
  font-size: 3rem;
  color: #2a9d8f;
}

.desktop-menu-container {
  position: absolute;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  background-color: #3f3d56;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}

.desktop-menu-container.open {
  right: 0;
}

.desktop-menu {
  list-style: none;
  padding: 7rem 0 2rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}

.desktop-links {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
}

/*todo ----- NAVBAR STYLES SECTION -----  */
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
h2 {
  vertical-align: center;
  text-align: center;
}

/* html,
body {
  margin: 0;
  height: 100%;
} */

* {
  font-family: "Poppins";
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
.navbar-company-name {
  display: none;
  @media screen and (min-width: 600px) {
    display: block;
  }
}
.top-nav {
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #e76f51, #f4a261);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 60px;
  padding: 1em;
  position: fixed;
  width: 100vw;
  @media screen and (min-width: 600px) {
    top: 0;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 105;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.desktop-icons {
  width: 30px;
  height: 30px;
  border: none;
  filter: invert(100%);
  transition-duration: 0.4s;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.desktop-icons:hover {
  width: 40px;
  height: 40px;
}
.desktop-icons:active {
  filter: invert(50%);
  width: 30px;
  height: 30px;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    bottom: 100%; /* Adjusted to top */
    /* margin-bottom: 50px; */
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fff;
    background-color: #3f3d56;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.search-bar,
.action-bar,
.search-button {
  color: #fff;
  background-color: #3f3d56;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  box-shadow: 1px 1px 2px #333;
  transition: 0.4s;
  @media screen and (min-width: 600px) {
    padding: 10px 20px;
    font-size: 1.5rem;
  }
}

.action-bar {
  width: 300px;
}

.search-bar {
  width: 200px;
  color: #3f3d56;
  border: 2px solid #3f3d56;
  background-color: #fff;
}

.action-bar {
  display: flex;
  justify-content: center;
}

.action-bar:hover,
.search-button:hover {
  font-size: 1.7rem;
  box-shadow: 2px 2px 3px #333;
  cursor: pointer;
}

.search-button:active {
  background-color: #2a9d8f;
  transition: 0.3s;
}

#search {
  text-decoration: none;
  display: flex;
  gap: 10px;
  color: #fff;
}

.search-bar-icon {
  background-image: url("../../public/images/search.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(100%);
  width: 20px;
  height: 20px;
}

/*todo: ----- COOKBOOK RECIPE CARD STYLES SECTION -----  */
/*? -----MOBILE STYLES -----  */
.mobile-recipe-modal-container {
  margin: 20px;
}

.mobile-recipe-names {
  color: #fff;
}
/*? ----- DESKTOP STYLES -----  */
.recipe-card-container {
  @media screen and (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.recipe-card {
  @media screen and (min-width: 600px) {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
}

.recipe-card.flipped {
  @media screen and (min-width: 600px) {
    transform: rotateY(180deg);
  }
}

.recipe-card-front,
.recipe-card-back {
  @media screen and (min-width: 600px) {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid #3f3d56;
    box-shadow: 1px 1px 2px #3f3d56;
    border-radius: 10px;
    border-color: #fff;
    border-width: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    background: linear-gradient(to left, #3f3d56, #5e5b85);
  }
}

.recipe-card-front {
  @media screen and (min-width: 600px) {
    /* background-color: #6f6c94; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

.recipe-card-back {
  @media screen and (min-width: 600px) {
    /* background-color: #6f6c94; */
    transform: rotateY(180deg);
    display: flex;
    align-items: flex-start;
    padding: 10px;
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-width: thin; /* Hide the scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
    scrollbar-color: transparent transparent; /* Hide the scrollbar for Chrome and Safari */
  }
}

.recipe-card-back::-webkit-scrollbar {
  @media screen and (min-width: 600px) {
    width: 0.5em; /* Set the width of the scrollbar for Chrome and Safari */
  }
}

.recipe-card-back::-webkit-scrollbar-thumb {
  @media screen and (min-width: 600px) {
    background-color: transparent; /* Hide the scrollbar thumb for Chrome and Safari */
  }
}

.recipe-card h2 {
  @media screen and (min-width: 600px) {
    margin-bottom: 10px;
  }
}

.recipe-card ul {
  @media screen and (min-width: 600px) {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.recipe-card li {
  @media screen and (min-width: 600px) {
    margin-bottom: 5px;
  }
}

.recipe-card li:last-child {
  @media screen and (min-width: 600px) {
    margin-bottom: 0;
  }
}

/*todo: ----- Enum Button on Cookbook Page -----  */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.button-section {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  background-color: #f2f2f2;
  border: 2px solid #3f3d56;
  border-radius: 15px;
  box-shadow: 1px 1px 2px #333;
  margin-right: 10px;
}

.button-section:last-child {
  margin-right: 0;
}

.button-section.active {
  background-color: #2a9d8f;
  color: #fff;
}

/*todo: ----- FOOTER SECTION STYLES -----  */
.footer-section-container {
  display: none;
  @media screen and (min-width: 600px) {
    width: 50%;
    /* position: sticky;
    bottom: 0;
    left: 0;
    right: 0; */
    background-color: #d5d5d5;
    box-shadow: 2px 2px 4px #333;
    font-size: 2rem;
    margin: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.footer-links-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-links-container ul {
  padding: 15px;
}

.footer-links-container li {
  list-style: none;
  padding: 15px;
}

.footer-links-container li:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 2px #3f3d56;
}

.footer-links {
  width: 50px;
}

/*//todo ----- CALENDAR COMPONENT STYLES -----  */
.calendar-component {
  height: 400px;
  margin: 30px 10px;
  @media screen and (min-width: 600px) {
    height: 500px;
    margin: 50px;
  }
}
