/*todo: ----- PAGE STYLE SECTION ----- */
/*? ----- GENERAL PAGE STYLING -----  */
.landing-wrapper {
  /* display: flex; */
  background-color: #fff;
}
.page-wrapper {
  /* background-color: #2a9d8f; */
  background-image: url("../../public/images/foodBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.page-content-container {
  padding-top: 50px;
}

/*? ----- HOME PAGE STYLES ----- */
.home-page-top-half {
  height: 100vh;
}

.page-content-container1 {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  background-color: #d5d5d5;
  /* height: 700px; */
  flex: 1;
  border-radius: 15% 0% 25% 0% / 100% 15% 50% 15%;
}

.home-page-catchy-text1,
.home-page-catchy-text2 {
  font-weight: bold;
  color: #3f3d56;
}
.home-page-catchy-text1 {
  font-size: 7rem;
}

.home-page-catchy-word {
  color: transparent;
  /* background-image: url("../../public/images/foodBackground.png"); */
  background: linear-gradient(to left, #e76f51, #f4a261);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

.home-page-list {
  padding-top: 70px;
  font-size: 1.5rem;
  color: #3f3d56;
  display: block;
  width: 700px;
}
.home-page-list li {
  list-style: none;
}

.home-page-image1-container {
  background-image: url("../../public/images/eatingTogether.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  padding: 50px;
  border-radius: 15px;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.page-content-container2 {
  padding-top: 50px;
  /* border: 2px solid blue; */
  height: 100vh;
  flex: 2;
  /* display: flex;
    justify-content: center;
    flex-direction: row; */
}

.home-page-catchy-text2 {
  font-size: 5rem;
  padding-top: 50px;
}

.home-page-links-container,
.home-page-links-description-container {
  border: 2px solid red;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.home-page-links-container {
  padding-top: 150px;
}

/* .home-page-container2-links {
    font-size: 2.5rem;
    color: #3f3d56;
    text-decoration: none;
    display: flex;
    font-size: 1rem;
    border: 2px solid green;
    padding: 25px;
  }
  
  .home-page-container2-links li {
    text-decoration: none;
    list-style: none;
  }
  
  .home-page-container2-icons {
    width: 70px;
    height: 60px;
    border: 2px solid #3f3d56;
    background-color: #2a9d8f;
    border-radius: 16px;
    padding: 10px 20px;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.home-page-container2-links-description {
  border: 2px solid blue;
  height: 500px;
  text-align: center;
  flex: 1;
  padding: 15px;
}
.home-page-container2-links-description h3 {
  font-size: 2.5rem;
}
.home-page-container2-links-description a {
  text-decoration: none;
}

/*? ----- CALENDAR PAGE STYLES ----- */
.modal-button-container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-component {
  background-color: #fff;
  border: 2px solid #636363;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rbc-toolbar {
  background-color: #2a9d8f;
  color: #fff;
}
.rbc-toolbar-label {
  font-size: 1.5rem;
  /* border: 2px solid red; */
}

.rbc-btn-group button {
  background-color: #fff;
  color: #2a9d8f;
  margin: 2px;
}

.rbc-active {
  font-size: 1rem;
  transition-duration: 0.25s;
  background-color: #e76f51;
}

/*? ----- Cookbook Page Styles ----- */
.cookbook-page-container {
  display: flex;
  justify-content: center;
  background-color: #d5d5d5;
  width: 85%;
}

/*? ----- About Page Styles -----  */
.about-page-container {
  background-color: #d5d5d5;
  width: 75%;
  padding: 100px;
  border-radius: 25% 0% 25% 0% / 25% 15% 25% 15%;
}

.about-page-description-container h1 {
  padding-top: 15px;
  padding-bottom: 10px;
}

.about-page-description-container p {
  font-size: 1.25rem;
}

.about-page-app-blurb {
  padding-bottom: 25px;
}
