/*todo: ----- PAGE STYLE SECTION ----- */
/*? ----- GENERAL PAGE STYLING -----  */
body {
  /* background-color: #2a9d8f; */
  background-image: url("./../utils//images/background/foodBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100dvw;
  height: 100dvh;
}
.landing-wrapper {
  /* display: flex; */
  background-color: #fff;
}
/* .master-page-wrapper {
   height: 100vh; 
} */

.page-content-container {
  @media screen and (min-width: 600px) {
    padding-top: 25px;
  }
}

/*? ----- HOME PAGE STYLES ----- */
.home-page-top-half {
  height: 100vh;
}

.page-content-container1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #d5d5d5;
  flex: 1;
  box-shadow: 2px 2px 4px #636363;
  @media screen and (min-width: 900px) {
    /* display: flex;
    justify-content: space-around;
    background-color: #d5d5d5;
    flex: 1; */
    border-radius: 15% 0% 25% 0% / 100% 15% 50% 15%;
  }
}

.home-page-catchy-text1,
.home-page-catchy-text2 {
  font-weight: bold;
  color: #3f3d56;
}
.home-page-catchy-text1 {
  font-size: 2rem;
  @media screen and (min-width: 600px) {
    font-size: 7rem;
  }
}

.home-page-catchy-word {
  color: transparent;
  /* background-image: url("../../public/images/foodBackground.png"); */
  background: linear-gradient(to left, #e76f51, #f4a261);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

.home-page-list {
  font-size: 1.5rem;
  color: #3f3d56;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 600px) {
    display: block;
    padding-top: 70px;
    width: 700px;
  }
}
.home-page-list li {
  list-style: none;
}

.home-page-image1-container {
  display: none;
  @media screen and (min-width: 600px) {
    background-image: url("../utils/images/icons/eatingTogether.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    padding: 50px;
    border-radius: 15px;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.action-container {
  margin: 15px 0px;
}
.page-content-container2 {
  padding: 0;
  @media screen and (min-width: 600px) {
    padding-top: 50px;
    flex: 2;
  }
}

.home-page-catchy-text2 {
  display: none;
  @media screen and (min-width: 600px) {
    display: block;
    font-size: 5rem;
    padding-top: 50px;
  }
}
.home-page-catchy-text3 {
  color: #2a9d8f;
  font-size: 2.5rem;
  padding: 75px 0;
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.home-page-mobile-scroll-text {
  /* border: 2px solid #fff; */
  text-align: center;
  background-color: #3f3d56;
  color: #fff;
  padding: 25px;
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.home-page-links-container,
.home-page-links-description-container {
  @media screen and (min-width: 900px) {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
}

.home-page-links-container {
  padding-top: 150px;
}

.home-page-container2-links-description {
  /* border: 2px solid blue; */
  /* height: 500px; */
  text-align: center;
  flex: 1;
  padding: 15px;
}
/* .home-page-bottom-links h3 {
} */
.home-page-bottom-links {
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s;
}

.home-page-bottom-links:hover {
  font-size: 2.5rem;
  color: #2a9d8f;
}

.home-page-links-description-container li:not(:last-child) {
  border-right: 1px solid #3f3d56;
}

.home-page-links-description-container li:not(:first-child) {
  border-left: 1px solid #3f3d56;
}

/*? ----- CALENDAR PAGE STYLES ----- */
.modal-button-container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-component {
  background-color: #fff;
  border: 2px solid #636363;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rbc-toolbar {
  background-color: #2a9d8f;
  color: #fff;
}
.rbc-toolbar-label {
  font-size: 1.5rem;
  /* border: 2px solid red; */
}

.rbc-btn-group button {
  background-color: #fff;
  color: #2a9d8f;
  margin: 2px;
}

.rbc-active {
  font-size: 1rem;
  transition-duration: 0.25s;
  background-color: #e76f51;
}

/*? ----- Cookbook Page Styles ----- */

.cookbook-page-desktop-container {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.cookbook-page-mobile-container {
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.pageContainer {
  overflow: hidden;
}

.cookbook-page-container {
  display: flex;
  justify-content: center;
  background-color: #d5d5d5;
  width: 85%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookbook-page-search-text {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}
.cookbook-page-search-text p {
  font-size: 1.5rem;
}

.cookbook-page-search-container {
  position: fixed;
  top: 100;
  /* background-color: white; */
  z-index: 999;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cookbook-page-recipe-container {
  overflow-y: auto;
  max-height: calc(100vh - 250px);
  margin-top: 275px;
  /* position: fixed; */
}

.cookbook-page-recipe-container::-webkit-scrollbar {
  width: 0.8em; /* Adjust the width as needed */
}

.cookbook-page-recipe-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.cookbook-page-recipe-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.4em;
}

.cookbook-page-recipe-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/*? ----- About Page Styles -----  */
.about-page-container {
  background-color: #d5d5d5;
  @media screen and (min-width: 600px) {
    width: 75%;
    padding: 100px;
    border-radius: 25% 0% 25% 0% / 25% 15% 25% 15%;
    margin-bottom: 50px;
  }
}

.about-page-description-container {
  padding: 0 10px;
}

.about-page-description-container h1 {
  @media screen and (min-width: 600px) {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

.about-page-description-container p {
  font-size: 1.25rem;
}

.about-page-app-blurb {
  padding-bottom: 25px;
}
