@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
/*todo ----- NAVBAR STYLES SECTION -----  */
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */
h2 {
  vertical-align: center;
  text-align: center;
}

/* html,
body {
  margin: 0;
  height: 100%;
} */

* {
  font-family: "Poppins";
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
.navbar-company-name {
  display: none;
  @media screen and (min-width: 600px) {
    display: block;
  }
}
.mobile-nav {
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #e76f51, #f4a261);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 60px;
  padding: 1em;
  position: fixed;
  width: 100vw;
  @media screen and (min-width: 600px) {
    top: 0;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 105;
}

.mobile-menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.desktop-icons {
  width: 30px;
  height: 30px;
  border: none;
  filter: invert(100%);
  transition-duration: 0.4s;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.desktop-icons:hover {
  width: 40px;
  height: 40px;
}
.desktop-icons:active {
  filter: invert(50%);
  width: 30px;
  height: 30px;
}

.mobile-menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mobile-menu-toggle {
  display: none;
}

.mobile-menu-button,
.mobile-menu-button::before,
.mobile-menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.mobile-menu-button::before {
  content: "";
  margin-top: -8px;
}

.mobile-menu-button::after {
  content: "";
  margin-top: 8px;
}

#mobile-menu-toggle:checked
  + .mobile-menu-button-container
  .mobile-menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#mobile-menu-toggle:checked
  + .mobile-menu-button-container
  .mobile-menu-button {
  background: rgba(255, 255, 255, 0);
}

#mobile-menu-toggle:checked
  + .mobile-menu-button-container
  .mobile-menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .mobile-menu-button-container {
    display: flex;
  }
  .mobile-menu {
    position: absolute;
    bottom: 100%; /* Adjusted to top */
    /* margin-bottom: 50px; */
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #mobile-menu-toggle ~ .mobile-menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #mobile-menu-toggle:checked ~ .mobile-menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .mobile-menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fff;
    background-color: #3f3d56;
  }
  .mobile-menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/*todo: ----- MOBILE RECIPE CARD STYLES -----  */
/* mobile-recipe-card {
  width: 200px;
} */

.mobile-recipe-card-container {
  position: fixed;
  top: 40;
  left: 0;
  width: 100vw;
  /* height: 100%; */
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: auto;
}

.mobile-recipe-image-container {
  width: 115px;
  padding: 5px;
}

.mobile-recipe-card-info-container {
  width: 100px;
  word-break: break-all;
}

.mobile-recipe-card-info-container ul {
  list-style: none;
}

#mobile-recipe-card-name {
  font-size: 0.75rem;
  font-weight: bold;
  word-wrap: "break-word";
}

#mobile-recipe-card-group {
  font-size: 0.5rem;
}

/*? ----- MOBILE RECIPE DETAILS STYLES -----  */
.global-back-button {
  background-image: url("../../../public/images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-color: #2a9d8f;
  border-radius: 16px;
}

.mobile-recipe-card-details {
  width: 100vw;
  height: 100vh;
  background-color: #3f3d56;
}

.mobile-recipe-card-details-info {
  /* display: flex; */
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #d5d5d5;
  padding: 25px;
  margin: 25px;
  color: #3f3d56;
  border-radius: 5px;
}

.mobile-recipe-card-details-ingredients ul {
  list-style-type: none;
}

.mobile-recipe-card-details-ingredients ul li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../../public/images/spoon.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.mobile-recipe-card-details-ingredients li {
  padding-top: 5px;
}

.mobile-recipe-card-details-directions li {
  padding-top: 5px;
  margin-left: 15px;
  padding-left: 5px;
  list-style: number;
}

.mobile-recipe-directions-button {
  background-color: #2a9d8f;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 2px #3f3d56;
}

/* todo: ----- MOBILE SEARCH PAGE STYLES ----- */
.mobile-search-page-top-container {
  position: fixed;
  top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}
